# ==========================================
# INFRAESTRUTURA (DOCKER COMPOSE)
# Este arquivo serve para injetar as variáveis nos containers
# ==========================================

# PostgreSQL
POSTGRES_USER=toqe_app
POSTGRES_PASSWORD=senha_forte

# Redis
REDIS_PASSWORD=senha_forte

# URLs Internas do Docker (Nome do serviço como Host)
DATABASE_URL=postgresql://toqe_app:senha_forte@postgres:5432/toqe
REDIS_URL=redis://:senha_forte@redis:6379

# Segredos Compartilhados
JWT_SECRET=super_secret_jwt_key_aqui
JWT_REFRESH_SECRET=super_secret_refresh_key_aqui
NEXTAUTH_SECRET=super_secret_nextauth_key_aqui
